[Unit]
Description=Nginx Proxy Manager SSL Cert Rsync
After=wg-quick@omv-service.service
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/bin/bash /path/to/sync-npm-ssh.service

[Install]
WantedBy=multi-user.target