[Unit]
Description=Nginx Proxy Manager SSL Cert Rsync
After=wg-quick@omv-service.service

[Service]
Restart=always
WorkingDirectory=/root/ssl-sync/
ExecStart=/bin/bash /root/ssl-sync/sync-ssh.bash

[Install]
WantedBy=multi-user.target
